/* https://richleland.github.io/pygments-css/ */
@import url(native.css);

code {
    background-color: #30343b;
    color: #88cc14;
}

.highlight > pre {
    border-left: 10px;
}

.blog-post :first-child {
    margin-top: 17px;
}

.highlight {
    border-radius: 10px;
}

.pagination .page-item .page-link {
    background-color: #242526;
}

.btn-primary {
    background-color:#4a4b4d;
    border-color: azure;
}

.btn-primary:hover {
    background-color:#89cc14de;
    border-color: azure;
}

.box-note, .box-warning, .box-error, .box-success{
    color: #404040;
}
